mixin card(title, subtitle, image, link)

    article.c-card.c-faux-link.u-context.u-z3.u-clip.u-bg-pink.u-bg-cover.u-bg-center.u-box-shadow-thin.u-gradient.u-text-center

        a.c-faux-link__overlay(href='#{link}', aria-hidden='true') Find out more about #{title}

        div.u-position.u-z3.u-center.u-full-width.u-padding-start.u-padding-end.u-text-shadow-thin
            h2.u-padding-top.u-padding-start.u-padding-end.u-margin-bottom #{title}
            h5.u-padding-start.u-padding-end.u-text-uppercase.u-regular #{subtitle}

        div.u-position.u-z2.u-t0.u-r0.u-b0.u-l0.u-padding(role='presentation', aria-hidden='true')
            div.u-full-width.u-full-height.u-border-white

        div.u-position.u-z1.u-block.u-full-height.u-full-width.u-half-transparent.u-bg-cover.u-bg-center(style='background-image:url("#{image}");')
