mixin media(image, title, date, number, description, link)

    article.c-media.u-context.u-padding.u-clip.u-gradient

        figure.u-context.u-z3.u-padding-top.u-padding-bottom.u-measure-medium.u-margin-horizontal-fill
            
            div.c-media__image.c-faux-link.u-context.u-margin-bottom.u-box-shadow-thin.u-clip
                a.c-faux-link__overlay(href='#{link}', aria-hidden='true', tabindex='-1') Find out more about #{title}
                img.u-block.u-full-width(src='/assets/img/#{slug}/#{image}', alt='#{title}')

            figcaption.c-text-content.u-text-shadow-thick
                h3.u-text-size-large #{title}
                h4.u-text-size-normal.u-half-transparent
                    span.u-inline-block.u-padding-end #{number}
                    span.u-inline-block.u-padding-end •
                    time.u-inline-block(datetime='#{date}') #{date}
                p #{description}

        div.u-position.u-t0.u-r0.u-l0.u-b0.u-z1.u-half-transparent(aria-hidden='true', tabindex='-1', role='presentation')
            div.u-blur.u-full-width.u-full-height.u-bg-cover.u-bg-center(style='background-image:url("/assets/img/#{slug}/#{image}");transform:scale(1.1)')
