mixin card(title, subtitle, image, link)

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding.u-text-center

        article.c-card.c-faux-link.u-context.u-clip.u-bg-pink.u-box-shadow-thin.u-gradient
            a.c-faux-link__overlay(href='#{link}', aria-hidden='true', tabindex='-1') Find out more about #{title}
            div.u-position.u-z2.u-t-0.u-r-0.u-b-0.u-l-0.u-padding(role='decorative', aria-hidden='true', tabindex='-1')
                div.u-full-width.u-full-height.u-border-white
            div.u-position.u-z3.u-center.u-full-width.u-padding-start.u-padding-end.u-text-shadow-thin
                h2.u-padding-top.u-padding-start.u-padding-end.u-margin-bottom #{title}
                h5.u-padding-start.u-padding-end.u-text-uppercase.u-regular #{subtitle}
            div.c-card__image.u-position.u-z1.u-block.u-full-height.u-full-width.u-half-transparent.u-bg-cover.u-bg-center(style='background-image:url(#{image});')
